name: Uploading-artifacts-to-S3

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  upload:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_BACKEND}}
          aws-region: eu-central-1
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      
      - name: Executing the script to upload artifacts to S3
        run: |
          chmod +x ./package_code.sh
          ./package_code.sh
          pwd 
          ls -lrt
      
      - name: Uploading the artifacts to S3
        run: |
          aws s3 cp lambda_package.zip s3://${{ secrets.ARTIFACT_BUCKET_NAME}}
          aws s3 cp dependencies.zip   s3://${{ secrets.ARTIFACT_BUCKET_NAME}} 